services:
  app:
    build: .
    container_name: pdf-ocr-devcontainer
    ports:
      - "8501:8501"
    volumes:
      - .:/workspace
    depends_on:
      - db
  db:
    image: postgres:15-alpine
    container_name: docker-db-1
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
