--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.3.1+cpu
torchvision==0.18.1+cpu
torchaudio==2.3.1+cpu
ultralytics==8.3.226
opencv-python-headless==4.10.0.84
pdf2image
pillow
pytesseract
streamlit
pandas
numpy
