name: yolov8-env
channels:
  - conda-forge
  - defaults
dependencies:
  - python=3.12
  - pip
  - numpy
  - pandas
  - matplotlib
  - pytorch
  - torchvision
  - torchaudio
  - pip:
      - ultralytics==8.3.226
      - opencv-python-headless
      - pycocotools
      - tqdm
